modules = ["web", "nodejs-20"]

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Serve Static Site"

[[workflows.workflow]]
name = "Serve Static Site"
author = 46388133
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx serve . -l 5000"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 35219
externalPort = 3000
